.project__swiper {
  background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  padding: 15px;
  box-sizing: border-box;
  border-radius: 18px;
}

.project__swiper_slide {
  max-width: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullets {
  top: 610px;
}

.swiper-pagination-bullet {
  background-color:#fff;
}

.swiper-pagination-bullet-active {
  background-color:#63dba9;
}

.swiper-button-prev::after {
  color:#63dba9;
}

.swiper-button-next::after {
  color:#63dba9;
}

.mySwiperStyle {
  max-width: 1000px;
}


@media (max-width: 425px) {
  .project__swiper {
    padding: 15px;
    box-sizing: border-box;
    border-radius: 18px;
  }

  .project__swiper_slide {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev::after {
   display: none;
  }

  .swiper-button-next::after {
    display: none;
  }

  .swiper-pagination-bullets {
    top: 285px;
  }

  .mySwiperStyle {
    max-width: 425px;
  }

}
