@keyframes spin3D {
  from {
    transform: rotate3d(.5,.5,.5, 360deg);
  }
  to{
    transform: rotate3d(0deg);
  }
}

.spinner-box {
  width: 290px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.leo {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.blue-orbit {
	width: 270px;
	height: 270px;
  border: 3px solid #91daffa5;
  -webkit-animation: spin3D 5s linear .2s infinite;
}

.green-orbit {
	width: 220px;
	height: 220px;
  border: 3px solid #91ffbfa5;
  -webkit-animation: spin3D 4s linear 0s infinite;
}

.red-orbit {
	width: 180px;
	height: 180px;
  border: 2px solid #fd8974a5;
  -webkit-animation: spin3D 9s linear 0s infinite;
}

.white-orbit {
	width: 90px;
	height: 90px;
  border: 1px solid #ffffff;
  -webkit-animation: spin3D 6s linear 0s infinite;
}

.white-orbit-2 {
	width: 90px;
	height: 90px;
  border: 1px solid #ffffff;
  -webkit-animation: spin3D 10s linear 0s infinite;
}

.white-orbit-3 {
	width: 90px;
	height: 90px;
  border: 1px solid #ffffff;
  -webkit-animation: spin3D 8s linear 0s infinite;
}
