.modal-edit_slots {
  min-height: 63px;
  border-radius: 12px;
  background-color: #282A30;
  padding: 0 10px;
  display: flex;
  /* overflow: auto; */
}

.modal-edit_slot {
  margin: 0 11px 0 0;
  padding: 0px 2px 0 2px;
  position: relative;
  list-style: none;
  min-width: 16px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  /* background-image: url('../../images/icons/drag.png'); */
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 70%;
  cursor: grab;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
}

.modal-edit_slot::before {
  list-style: none;
  list-style-type: none;
  color: transparent;
}

.modal-edit_slot::after {
  list-style: none;
  list-style-type: none;
}

.modal-edit_slot_btn_type_delete {
  opacity: 1;
  /* position: absolute; */
  top: 2px;
  right: 0px;
  height: 16px;
  width: 16px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
}

.modal-edit_slot_btn_type_delete:hover {
  opacity: 1;
  background-color: transparent;
  /* background: url('../../images/icons/close.svg'); */
  transition: 0.2s;

}

.modal-edit_columns_block {

}

.modal-edit_columns_title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 16px 0;
}

.modal-edit_available_columns {
  padding: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0 0 0;
}

.modal-edit_column {
  list-style: none;
  background-color: #282A30;
  color: #888888;
  font-size: 12px;
  cursor: pointer;
  height: 31px;
  border-radius: 12px;
  padding: 8px 10px;
  position: relative;
  text-align: center;
  width: fit-content;
  margin: 0 16px 16px 0;
}

.modal-edit_button_block {
  display: flex;
  justify-content: flex-end;
}

.modal-edit_button_type_submit {
  width: 65px;
  height: 32px;
  background-color: #000;
  opacity: 0.9;
  color: #fff;
  border: none;
  padding: 0;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.modal-edit_button_type_submit:hover {
  opacity: 1;
  transition: 0.2s;
}

