.aboutMe {
  width: 100%;
  background-color: #fff;
}
.aboutMe__container {
  margin: 0 auto 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
}
.aboutMe__main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-image: linear-gradient(120deg, #b8cff3 0%, #d7f1fd 100%);
  border-radius: 30px;
}
.aboutMe__block {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 30px 0 0 30px;
}
.aboutMe__name {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: transparent;
	  -webkit-background-clip: text;
	  background-clip: text;
	  background-image: linear-gradient(to left, rgb(6, 35, 90), rgb(26, 86, 250));
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.aboutMe__caption {
  font-size: 30px;
  line-height: 30px;
  color: transparent;
	  -webkit-background-clip: text;
	  background-clip: text;
	  background-image: linear-gradient(to right, rgb(6, 35, 90), rgb(26, 86, 250));
  mix-blend-mode: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin-top: 45px;
}
.aboutMe__description {
  font-size: 22px;
  line-height: 24px;
  color: #000;
  mix-blend-mode: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  margin-top: 15px;
  padding: 0 30px;
}
.aboutMe__social {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  padding: 0;
}
.aboutMe__column {
  margin: 3px;
}
.aboutMe__link {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 17px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.1s linear;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
.aboutMe__link:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.aboutMe__paragraph {
  font-size: 20px;
  margin: 0;
  color:#000;
}
.aboutMe__paragraph:hover {
  transition: 0.2s linear;
  transform: scale(1.05);
}
.aboutMe__photo {
    width: 270px;
    height: 327px;
    border-radius: 10px;
    margin: 30px 0 0 70px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.aboutMe__photo:hover {
    transform: scale(1.05);
    transition: 0.2s linear;
}
.contactWithMe__btn {
  border: none;
  margin: 30px 53px auto 125px;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(40, 163, 245);
  box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.contactWithMe__btn:hover {
background-color: rgb(36, 147, 221);
cursor: pointer;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
transition: 0.2s linear;
}
